.class
.ctxt
.DS_Store
/Avengers/ArrowProjectile.ctxt
/Avengers/AttackingState.ctxt
/Avengers/BeamProjectile.ctxt
/Avengers/BombProjectile.ctxt
/Avengers/capamerica.ctxt
/Avengers/Counter.ctxt
/Avengers/DocStrange.ctxt
/Avengers/Elf.ctxt
/Avengers/Enemy.ctxt
/Avengers/EnemyProjectile.ctxt
/Avengers/GreenGoblin.ctxt
/Avengers/HammerProjectile.ctxt
/Avengers/HawkEye.ctxt
/Avengers/HealthBar.ctxt
/Avengers/HeroProjectile.ctxt
/Avengers/IdleState.ctxt
/Avengers/IMenuCommand.ctxt
/Avengers/IMenuInvoker.ctxt
/Avengers/IMoveStrategy.ctxt
/Avengers/IPlayer.ctxt
/Avengers/IronMan.ctxt
/Avengers/IScoreBoardHealthObserver.ctxt
/Avengers/IScoreBoardHealthSubject.ctxt
/Avengers/KnifeProjectile.ctxt
/Avengers/Level2.ctxt
/Avengers/Level3.ctxt
/Avengers/Loki.ctxt
/Avengers/MagicSpellProjectile.ctxt
/Avengers/MenuCommand.ctxt
/Avengers/MenuOption.ctxt
/Avengers/MenuScreen.ctxt
/Avengers/MyWorld.ctxt
/Avengers/Player.ctxt
/Avengers/PlayerFactory.ctxt
/Avengers/PlayerStateMachine.ctxt
/Avengers/ReflectiveMovementStrategy.ctxt
/Avengers/ShieldProjectile.ctxt
/Avengers/SinusoidalMovementStrategy.ctxt
/Avengers/spiderman.ctxt
/Avengers/SpiderMan.ctxt
/Avengers/SpiderWebProjectile.ctxt
/Avengers/Starter_Screen.ctxt
/Avengers/StarterScreenTitle.ctxt
/Avengers/SuperPowerBar.ctxt
/Avengers/SuperPowerState.ctxt
/Avengers/SuperProjectile.ctxt
/Avengers/Thor.ctxt
/Avengers/Ultron.ctxt
/Avengers/project.greenfoot
/Avengers/CapAmerica.class
/Avengers/DocStrange.class
/Avengers/HawkEye.class
/Avengers/IronMan.class
/Avengers/SpiderMan.class
/Avengers/project.greenfoot
/Avengers/Player.class
/Avengers/KnifeProjectile.class
/Avengers/Level2.class
/Avengers/Level3.class
/Avengers/MyWorld.class
/Avengers/Thor.class
/Avengers/Level4.class
/Avengers/Level4.ctxt
/Avengers/StraightMovementStrategy.ctxt
/Avengers/StraightMovementStrategy.ctxt
/Avengers/BombProjectile.class
/Avengers/GreenGoblin.class
/Avengers/Loki.class
/Avengers/SinusoidalMovementStrategy.class
/Avengers/StraightMovementStrategy.class
/Avengers/SuperPowerState.class
/Avengers/Thor.class
/Avengers/SpaceCrack.class
/Avengers/SpaceCrack.ctxt
/Avengers/SuperPowerProjectileFactory.ctxt
/Avengers/Arrow.ctxt
/Avengers/CapAmerica.ctxt
/Avengers/Elf.class
/Avengers/Enemy.class
/Avengers/LightningBall.ctxt
/Avengers/Thanos.ctxt
/Avengers/ThanosProjectile.ctxt
/Avengers/TrackingMissile.ctxt
/Avengers/TrackingWeb.ctxt
/Avengers/Ultron.class
/Avengers/EnemyProjectile.class
/Avengers/HeroProjectile.class
/Avengers/IProjectileMoveStrategy.class
/Avengers/IProjectileMoveStrategy.ctxt
/Avengers/Projectile.class
/Avengers/Projectile.ctxt
/Avengers/RotatingMovementStrategy.class
/Avengers/RotatingMovementStrategy.ctxt
/Avengers/ShieldProjectile.class
/Avengers/Starter_Screen.class
/Avengers/TrackingMissile.class
/Avengers/TrackingWeb.class
/Avengers/ArrowProjectile.class
/Avengers/BeamProjectile.class
/Avengers/HammerProjectile.class
/Avengers/MagicSpellProjectile.class
/Avengers/SpiderWebProjectile.class
/Avengers/SoundManager.class
/Avengers/SoundManager.ctxt
/Avengers/Level4.java.orig
/Avengers/NextLevel.class
/Avengers/Thanos.class
/Avengers/ThanosHealthBar.class
/Avengers/ThanosHealthBar.ctxt
/Avengers/Help.ctxt
/Avengers/HelpScreenTitle.class
/Avengers/HelpScreenTitle.ctxt
/Avengers/NextLevel.ctxt
/Avengers/ThanosProjectile.class
/Avengers/project.greenfoot
/Avengers/Arrow.class
/Avengers/MenuScreen.class
/Avengers/InvincibleStrategy.class
/Avengers/PlayerFactory.class
/Avengers/project.greenfoot
